<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body style="text-align: center;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid" style="text-align: center;">
      <a class="navbar-brand" href="#">白癡公主</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Youtube</a>
          <a class="nav-link" href="https://www.instagram.com/87acup/?hl=zh-tw" target="_blank">Instagram</a>
          <a class="nav-link" href="https://www.facebook.com/BaiChiGongZhu" target="_blank">Facebook</a>
        </div>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <div class="container" style="text-align: center;">
    <a href="https://www.youtube.com/user/ATienDai" target="_blank"><button type="button" class="btn btn-danger">白癡公主</button></a>
    <br>
    <br>
    <table style="width: auto; margin-left: 125px;">
      <tr>
        <td><iframe width="341" height="176" id="" src="https://www.youtube.com/embed/<%- ytID[0]['Video'] %>" allowfullscreen></iframe></td>
        <td><iframe width="341" height="176" id="" src="https://www.youtube.com/embed/<%- ytID[1]['Video'] %>" allowfullscreen></iframe></td>
        <td><iframe width="341" height="176" id="" src="https://www.youtube.com/embed/<%- ytID[2]['Video'] %>" allowfullscreen></iframe></td>
      </tr>
      <tr>
        <td><iframe width="341" height="176" id="" src="https://www.youtube.com/embed/<%= ytID[3]['Video'] %>" allowfullscreen></iframe></td>
        <td><iframe width="341" height="176" id="" src="https://www.youtube.com/embed/<%= ytID[4]['Video'] %>" allowfullscreen></iframe></td>
        <td><iframe width="341" height="176" id="" src="https://www.youtube.com/embed/<%= ytID[5]['Video'] %>" allowfullscreen></iframe></td>
      </tr>
    </table>
  </div>
  <br>
  <br>
    <div class="container" style="text-align: center;">
      <a href="https://www.youtube.com/channel/UCKGMU1IdvzYN69Txw00n4Sg" target="_blank"><button type="button" class="btn btn-danger">白癡公主的無碼專區</button></a>
      <br>
      <br>
      <table style="width: auto; margin-left: 125px;">
          <td><iframe width="341" height="176" id="" src="https://www.youtube.com/embed/<%- ytID_2[0]['Video'] %>" allowfullscreen></iframe></td>
          <td><iframe width="341" height="176" id="" src="https://www.youtube.com/embed/<%- ytID_2[1]['Video'] %>" allowfullscreen></iframe></td>
          <td><iframe width="341" height="176" id="" src="https://www.youtube.com/embed/<%- ytID_2[2]['Video'] %>" allowfullscreen></iframe></td>
        </tr>
        <tr>
          <td><iframe width="341" height="176" id="" src="https://www.youtube.com/embed/<%- ytID_2[3]['Video'] %>" allowfullscreen></iframe></td>
          <td><iframe width="341" height="176" id="" src="https://www.youtube.com/embed/<%- ytID_2[4]['Video'] %>" allowfullscreen></iframe></td>
          <td><iframe width="341" height="176" id="" src="https://www.youtube.com/embed/<%- ytID_2[5]['Video'] %>" allowfullscreen></iframe></td>
        </tr>
      </table>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
    <script src="/javascripts/index.js">
      console.log("<%- ytID %>");
      console.log("<%- ytID_2 %>");
      // document.getElementById('yt').attributes.src = 'https://www.youtube.com/embed/<%= ytID %>';
    </script>
</body>

</html>